@charset "UTF-8";
body{
	background-color: #f4f7f6;
	font-family: 'AppleSDGothic', serif;
	color: #202121;
	user-select: none;
	font-weight: 500;
}

input, button {
     font-family: "AppleSDGothic", sans-serif;
}

a {
	font-family: 'AppleSDGothic', serif;
	font-weight: 500;
	color: #202121;
}

#header {
	top: 0;
	position: sticky;
	width: 100%;
	background: #f4f7f6;
	border-bottom: 1px solid #E6EAEA;
	z-index: 10;
	height: 80px;
}

.welcome_msg{
	position: fixed;
    text-align: center;
    width: 100%;
    height: 80px;
    background-color: rgba(60,113, 102, .8);
    line-height: 50px;
    color: white;
    z-index:20;
    line-height: 80px;
    font-size: 30px;
}

.header_contents_box {
    width: 100%;
    display: flex;
    height: 80px;
    margin: 0 auto;
    flex-direction: row;
}

/*로고*/

.hcb_logo{
	flex:1;
	border-right: 1px solid #E6EAEA;
}

.logo_box{
    position: absolute;
    display: block;
    width: auto;
    left: 50%;
    transform: translateX(-80%);
}

.hcb_logo a>img {
	vertical-align: middle;
	width: 80px;
	height: 40px;
}

.hcb_logo a>span {
	line-height: 80px;	
	font-size: 25px;
	color: #424242;
	font-family: 'AppleSDGothic', serif;
}

/*카테고리*/
.hcb_category_list{
	display: flex;
	flex-direction: row;
}

.hcb_category li{
	border-right: 1px solid #E6EAEA;
	width: 120px;
	height: 80px;
} 

#header .hcb_category li.on{
	background-color:  rgba(60,113, 102, .8);
}

.hcb_category li.on a{
	color: white;
}

.hcb_category ul>li>a {
	display:block;
	text-align: center;
	line-height: 80px;
	font-size: 16px;
	color: #202121;
	transition: all 0.3s ease-in-out;
}

.hcb_category ul>li>a:hover {
	background-color: white;
	color: #A6ABAB;
}

/*검색*/
.hcb_search {
	width: 262px;
	height: 80px;
}

.hcb_search form>div {
	line-height: 80px;
}

.search_input {
	margin-left: 15px;
	width: 190px;
	border: none;
	outline: none;
	box-sizing: border-box;
	font-size: 16px;
	padding-right: 40px;
	background-color: #f4f7f6;
	
}

.bar_component {
	margin-right: 5px;
	color: #424242;
	cursor: pointer;
	background-color: transparent;
	border: none;
}

.search_area{
	width: 260px;
	display: flex;
    flex-direction: row;
    transition: all 0.3s ease-in-out;
}

.search_by_btn{
	text-align: center;
	width: 130px;
	cursor: pointer;
	border-right: 1px solid #E6EAEA;
	transition: all 0.3s ease-in-out;
}

.search_by_btn:hover{
	background-color: white;
	color: #A6ABAB;
}

.search_bar{
	display:none;
	flex-direction: row;
    width: 100%;
    height: 80px;
}

/*로그인*/
.hcb_login {
	width: 120px;
    height: auto;
    border-right: 1px solid #E6EAEA;
    background-color: rgba(60,113, 102, .8);
    transition: all 0.3s ease-in-out;
}

/*로그인 안했을 경우*/
.hcb_login_btn {
	line-height: 80px;
    text-align: center;
    font-size: 18px;
}

.hcb_login:hover{
	background-color: rgba(60,113, 102);
}

.hcb_login_btn a {
	display: block;
	width: auto;
	color: white;
}

/* 로그인 했을 경우 */
.hcb_profile {
	cursor: pointer;
    text-align: center;
    line-height: 89px;
    height: 100%;
    background-color: rgba(60,113, 102, .8);
}
/*부모요소*/
.hcb_profile .far.fa-user-circle{
	font-size: 27px;
	color: white;
}

/*아이콘 클릭했을 경우 마이페이지,로그아웃 list*/
.hcb_mypage_and_logout {
	display: none;
	width: 121px;
    position: absolute;
}

.hcb_mypage_and_logout ul {
	background-color:#f4f7f6;
	width: 100%;
	text-align: center;
	
}

.hcb_mypage_and_logout ul>li{
    width: 100%;
    height: 40px;
    cursor: pointer;	
}

.hcb_mypage_and_logout ul>li:nth-child(1){
	border-bottom: 1px solid  #E6EAEA;
}

.hcb_mypage_and_logout ul>li>a {
    display: block;
    width: 100%;
    height: auto;
    line-height: 40px;
    transition: all 0.3s ease-in-out;
}

.logout.btn{
	background-color: #f4f7f6;
    cursor: pointer;
    border: none;
    color: #c0392b;
    font-size: 18px;
    text-align: center;
    font-family: 'AppleSDGothic', sans-serif;
    width: 100%;
    height: 40px;
    transition: all 0.3s ease-in-out;
}

.logout:hover{
	background-color: white;
}

.hcb_mypage_and_logout ul>li a:hover{
	background-color: white;
	color: #A6ABAB;
}

