@charset "UTF-8";
body{
	font-family: "AppleSDGothic", sans-serif;
}
#container {
	font-family: "AppleSDGothic", sans-serif;
	width: 1100px;
	margin:auto;
	padding-top:100px
}

button{
	font-family: "AppleSDGothic", sans-serif;
}

select {
	font-family: "AppleSDGothic", sans-serif;
}
/*1차 카테고리 css start*/

.category_tab{
	width: 110px;
	height:35px;
	
}
.sel_btn{
	width: 110px;
	height: 35px;
	font-family:"AppleSDGothic", sans-serif;
	font-size: 16px;
	background-color: white;
	border: none;
	cursor:pointer;
}

.sel_btn:hover{
	background-color: #a9a9a9;
	color: white;
}

.reset_btn{
	color: #cc5750;
}

.main_category_title {
	position: relative;
	margin-left: 20px;
	font-size: 30px;
	font-weight: 600;
	color: #4D0B18;
}

.main_menu_wrap {
	position: relative;
	height: 350px;
	margin-top: 30px;
}

.main_menu_wrap a {
	text-decoration: none;
	color: #424242;
	font-size: 30px;
}

.main_menu_wrap li {
	float: left;
	margin-left: 20px;
}

.main_menu_wrap span {
	display: block;
	width: 250px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background-color: rgb(243, 232, 229);
}

.menu_box {
	width: 250px;
	height: 310px;
	overflow: hidden;
}

.menu_item:hover img+span {
	background-color: #3c7166;
	color: white;
} 
.category_img {
	width:250px;
	height: 250px;
}
/*1차 카테고리 css end*/



.second_categories_content {
	position: relative;
	width: 1100px;
	margin-top: 20px;
}

.btn_box{
	position:relative;
	display: inline-block;
}

/* second category tab css */

.second_category_list li {
	border-left: 1px solid #a9a9a9;
	border-right: 1px solid #a9a9a9;
	border-top: 1px solid #a9a9a9;
}

.second_category_list li:last-child{
	border-bottom: 1px solid #a9a9a9;
}

/* 카테고리 박스 css */

.second_categories_header{
	display: flex;
	width: 100%;
	min-height: 70px;
}

.second_categories_header .header_btn{
	margin-right: 30px;
	width: 110px;
	height: 40px;
	border: 1px solid #a9a9a9;
	border-radius: 0;
	font-family: "AppleSDGothic", sans-serif;
	font-size: 16px;
	cursor:pointer;
	background-color: white;
}

.header_btn.active+ul{
	display: block;
}

.sel_list_ul{
	display: none;
	position: absolute;
	margin-top: 5px;
}
.search_filter_box {
	position: absolute;
	right: 0;
}

.search_filter_box div{
	display: inline-block;
}

.category_result_box {
	width: 1100px;
	height: 900px;
	margin: 30px auto;
}

.fashion_styling_box {
	display: none;
}



/*지역필터버튼 css start */

.search_specifics li {
	float: right;
}

.search_specifics a {
	display: inline-block;
} /* 지역필터버튼 css end */

/*지역필터 팝업 css start */
.pop_where_wrap {
	/* 브라우저 기준 */
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .75);
	display: none;
	left: 0;
	top: 0;
	z-index: 20;
}

.pop_where_wrap.on {
	display: block;
}

.pop_where_box {
	width: 600px;
	height: 630px;
	border-radius: 4px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -280px 0 0 -300px;
	background-color: #fafafa;
}

.pop_where_header_wrap {
	
	width: 100%;
	height: 128px;
	position: relative;
	border-bottom: 2px solid #eee;
}

.pop_where_header_title {
	text-align: center;
    height: 80px;
    line-height: 40px;
}

.pop_close_button {
	position: absolute;
	border: none;
	background-color: transparent;
	outline: none;
	right: 8px;
	top: 15px;
	color: #757575;
	cursor: pointer;
	font-size: 25px;
}
.location_area{
	height:500px;
	
}

.title_wrap{
	height: 55px;
    line-height: 55px;
}

.filter_info_wrap{
	height: 18px;
    line-height: 18px;
    color: gray;	
}

.filter_note{
	font-size: 14px;
}

.pop_primary_location{
	width: 250px;
    height: 100%;
    overflow-y: scroll;
    float: left;
}
.primary_location_item{
    width: 223px;
    height: 44px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    line-height: 44px;
    text-align: center;
    padding: 5px;
}

.item_numbers{
	font-size: 14px;
	color: rgb(0, 87, 217);
}

.pop_second_location{
    float: left;
    width: 350px;
    height: 500px;
    overflow-y: scroll;
	display: none;
}

.pop_second_location.show{
	display:block;
	
}

.item_block:hover{
	background-color: #a9a9a9;
	color: white;
}

.second_location_item{
    width: 323px;
    height: 44px;
    border-bottom: 1px solid #eee;
    padding: 5px;
    text-align: center;
    line-height: 44px;
    cursor: pointer;
}

.filter_where {
	font-size: 25px;
}

.pop_where_container {
	width: 360px;
	height: 500px;
	overflow: hidden;
}


.states_specifics {
	width: 255px;
	height: 500px;
	float: left;
	overflow: scroll;
	overflow-x: hidden;
}

.states_specifics>ul {
	display: none;
}

.states_specifics>ul.on {
	display: block;
}

.states_specifics>ul>li {
	width: 220px;
	height: 50px;
	line-height: 50px;
	margin-left: 20px;
} /*지역필터 팝업 css end */

/*검색 정렬 필터 css */

/* 의류 탭 박스 css*/
.category_result_box {
	width: 1100px;
	min-height: 600px;
	margin: 30px auto;
}

.search_result_list{
	display: flex;
	flex-flow:wrap;
}

.search_result_item {
	flex:none;
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 50px;
}

.search_result_item img {
	width: 250px;
	height: 300px;
	margin-bottom: 15px;
}

.subscription_item_info {
	position: relative;
	width: 250px;
}
/*구독 서비스 회사명 */
.subscription_item_company {
	font-size: 15px;
	font-weight: 900;
	display: inline-block;
	color: #3c7166;
}
/*구독 서비스 라벨 */
.subscription_item_label {
	background-color: #cc5750;
	color: #f4fffd;
	width: 45px;
	height: 23px;
	font-size: 14px;
	font-weight: 700;
	display: inline-block;
	position: absolute;
	top: -5px;
	right: 0;
	text-align: center;
	line-height: 25px;
	border-radius: 5px;
}
/*구독 서비스 상품명 */
.subscription_item_name {
	font-size: 13px;
	margin-top: 15px;
	color: #424242;
}
/*구독 서비스 가격 */
.subscription_item_price {
	font-size: 18px;
	margin-top: 15px;
	font-weight: 700;
	display: inline-block;
}

.subscription_item_price_and_rate_box {
	position: relative;
}
/*평점표시 css start*/
.subscription_item_rate {
	display: inline-block;
	right: 0;
	bottom: 0;
	position: absolute;
}

.box {
	background-image: url("/img/resource/ico_newsview_200522.png");
	height: 16px;
}

.grade_star {
	width: 88px;
	background-position: 0 -300px;
}

.inner_star {
	width: 0px;
	background-position: 0 -320px;
} /*평점표시 css end*/
.text_strong {
	color: #3c7166;
	font-weight: 800;
}

.pagination{
	width: 1100px;
	margin: auto;
}

.loc_tag_list{
	display: flex;
	flex-direction: row;
}
.loc_tag_btn{
	border: 1px solid #DBE0DF;
    cursor: pointer;
    background-color: white;
    font-size: 18px;
    border-radius: 20px;
    padding: 5px 20px;
    margin-right: 10px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}

.loc_tag_btn:hover{
	color: #3c7166;
	border-color: #3c7166;
}



